.App {
  text-align: center;
  display: flex;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-container {
  margin: 10px;
}

.content-container {
  margin: 10px;
}

.menu-container {
  background-color: #1f7ddb !important;
  height: 100% !important;
}

.menu {
  border: 0 !important;
}

.menu-item {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 70px;
  font-size: 12.1px;
}

.menu-icon {
  position: absolute;
  right: 3%;
  top: 40%;
}

.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
